html,
body {
  font-family: 'proxima-nova', sans-serif;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-image: linear-gradient(#fff, #9f9f9f);
  }
}
