.container {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
}

.img-background,
.img-main {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 13px 6px rgb(0 0 0 / 45%);
}

.img-background {
  background-image: linear-gradient(15deg, #003a85, #5cd9f5);
}

.img-main-container {
  position: relative;
  height: 100%;
  &::before {
    position: absolute;
    border-radius: 12px;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
  }
}

.img-main-wrap {
  height: 100%;
  padding: 20px 0;
}

.main-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.select-container {
  min-width: 250px;
  text-align: center;
  width: 50%;
  margin: 10px auto 0;
}

.select-title-container {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.select-title {
  font-weight: 500;
  width: 100%;
  text-align: center;
  line-height: 15px;
}

.option-container {
  z-index: 1;
  position: fixed;
  max-width: 50%;
  min-width: 250px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 13px;
  }
}

.option-item {
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.25s ease-out;
  &:hover {
    padding: 6px 0;
    transition: padding 0.3s ease-in-out;
    background-color: #ecebeb;
  }
}

.option-active {
  background-color: #ecebeb;
  font-weight: bold;
  padding: 6px 0;
  color: #222;
  transition: all 0.25s ease-out;
}

.option-item span,
.select-title {
  &::selection {
    background-color: transparent;
  }
}

.select-title {
  transition: all 0.2s ease-out;
}

.option-container input {
  width: 100%;
  height: 36px;
  background-color: #fff;
  color: #000;
  border: 0px;
  text-align: center;
  font-size: 15px;
  outline: none;
  &::placeholder,
  &::-ms-input-placeholder,
  &:-ms-input-placeholder {
    color: #000;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.day-time-container {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  color: #d5d5d5;
  font-weight: 500;
}

.temparature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 10px;
  transition: 0.3s ease;
}

.temparature-c span {
  font-size: 4.5rem;
  text-shadow: 2px 1px rgb(0 0 0 / 50%);
}

.temparature-c {
  display: flex;
  line-height: 45px;
}

.province-title {
  text-align: center;
  margin: 30px 15px 0;
}

.province-title h2 {
  font-size: 35px;
  color: #f1f1f1;
  transition: 0.3s ease;
}

.temparature-title {
  display: flex;
  position: absolute;
  align-items: center;
  margin-bottom: 10px;
}

.temparature-background {
  min-width: 250px;
  width: 50%;
  position: relative;
  height: 100px;
  background-color: #cfcfcf;
  opacity: 0.6;
  border-radius: 8px;
  transition: 0.3s ease;
}

.loading-province {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 12px;
  opacity: 0.7;
  border: 1px solid #e4e4e4;
}

.loading-icon-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.loading-icon-forecast-container {
  z-index: unset;
  position: unset;
}

.loading-icon {
  color: #535353;
  width: 6rem;
  height: 6rem;
  animation: loading 0.8s infinite linear;
}

.loading-icon-forecast {
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.province-text {
  display: block;
  text-align: center;
  line-height: 30px;
  position: relative;
}

.province-text:nth-of-type(2)::after {
  content: "C";
  position: absolute;
  font-size: 13px;
  font-weight: 400;
}

.icon-temparature-container {
  display: flex;
}

.icon-o {
  width: 10px;
  height: 10px;
  border-radius: 13px;
  border: 3px solid #fff;
  margin-top: 2px;
}

.icon-temparature-container .icon-c {
  display: block;
  font-size: 2.25rem;
  line-height: 25px;
  text-shadow: none;
}

.nextdayforecast {
  background-image: linear-gradient(45deg, rgb(149 149 149 / 50%), rgba(255, 255, 255, 0.1));
  background-color: rgba(255, 255, 255, 0.85);
  height: 261px;
  border-radius: 12px;
  margin: 30px 8px 0;
  position: absolute;
  width: 96%;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto 10px;
  transition: 0.3s ease;
}

.nextdayforecast-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nextdayforecast-wrapper h2 {
  text-align: center;
  color: #000;
  margin: 10px auto 25px;
  transition: 0.3s ease;
}

.nextdayforecast-container {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.forecast-day-container span {
  display: block;
  text-align: center;
  color: #333;
  font-weight: 500;
  transition: 0.3s ease;
}

.forecast-day-avg {
  font-size: 20px;
  margin-top: 30px;
  position: relative;
  &::after {
    content: "C";
    position: absolute;
    font-size: 15px;
    margin-top: 2px;
  }
}

.forecast-day-container img {
  display: block;
  margin: 15px auto;
  transition: 0.3s ease;
}

@media only screen and (max-width: 63.9375em) {
  .forecast-day-avg {
    margin-top: 20px;
  }

  .forecast-day-container img {
    margin: 0 auto;
  }

  .nextdayforecast-wrapper h2 {
    margin: 10px auto 15px;
  }

  .temparature-container {
    margin: 30px auto 10px;
  }

  .nextdayforecast {
    height: 200px;
  }

  .province-title h2 {
    font-size: 30px;
  }
}

/* iPhone 5 or other: width <= 320px */
@media only screen and (max-width: 20em) {
  .province-title {
    margin: 12px 15px 0;
  }

  .temparature-container {
    margin: 25px auto 0px;
  }

  .temparature-background {
    height: 85px;
  }

  .nextdayforecast-wrapper h2 {
    margin: 0px auto 5px;
  }

  .nextdayforecast {
    height: 150px;
  }

  .forecast-day-avg {
    margin-top: 0px;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .temparature-container {
    margin: 80px auto 50px;
  }

  .province-title {
    margin: 50px 15px 0;
  }
}
